.stage-container {

    .stage-wrapper {
        padding-bottom: 50px;

        .stage-texts {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            div {
                font-size: 1.2em;
                font-weight: 700;
                color: #222831;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 80px;
            }
        }

        .stage-line {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            background-color: cornflowerblue;
            height: 5px;
        }

        .first-stage {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5em;
            width: 30px;
            height: 30px;
            background-color: cornflowerblue;
            color: white;
            border-radius: 50%;
        }

        .second-stage {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5em;
            width: 30px;
            height: 30px;
            background-color: cornflowerblue;
            color: white;
            border-radius: 50%;
        }

        .third-stage {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5em;
            width: 30px;
            height: 30px;
            background-color: rgb(224, 152, 69);
            color: white;
            border-radius: 50%;
        }
    }
}

.selected-options {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    .selected-province {
        color: white;
        background-color: cornflowerblue;
        padding: 10px 20px;
        border-radius: 10px;
        border: 3px solid rgb(69, 126, 233);
        margin-right: 20px;

        span {
            font-weight: 600;
            font-size: 1.1em;
        }

        i {
            color: rgba(0, 0, 0, 0.5);
        }
    }

    .selected-district {
        color: white;
        background-color: cornflowerblue;
        padding: 10px 20px;
        border: 3px solid rgb(69, 126, 233);
        border-radius: 10px;
        margin-right: 20px;

        span {
            font-weight: 600;
            font-size: 1.1em;
        }

        i {
            color: rgba(0, 0, 0, 0.5);
        }
    }

    .select-again {
        color: white;
        background-color: orange;
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid orange;
        line-height: 30px;

        span {
            font-weight: 800;
        }

        i {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

.main-car-list-section {
    padding: 10px 10px;
    display: flex;

    .filter-section {
        padding: 10px 10px;
        width: 25%;
        border-radius: 10px;

        .filter-main-title {
            text-align: center;
            color: white;
            background-color: cornflowerblue;
            border-radius: 10px;
            border: 5px solid rgb(69, 126, 233);
            font-weight: 700;
            font-size: 1.5em;
            margin-bottom: 20px;

            i {
                opacity: 0.8;
            }
        }

        .filter-boxes-container {
            width: 100%;

            .filter-box-block {
                box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
                margin-bottom: 20px;
                border-radius: 10px;
                color: black;

                .filter-box-title {
                    padding: 5px 10px;
                    font-size: 1.2em;
                    font-weight: 600;
                }

                .filter-box-selections {

                    .mini-box {
                        cursor: pointer;
                        margin: 8px;
                        border-radius: 10px;
                        display: inline-block;
                        border: 1px solid #FA737B;
                        width: 100px;
                        height: 50px;
                        color: rgb(100, 100, 100);
                        position: relative;

                        input {
                            opacity: 0;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                        }

                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            line-height: 50px;
                            font-weight: 600;
                        }

                        &:hover {
                            color: white;
                            background-color: #FA737B;

                        }
                    }
                }
            }
        }
    }

    .all-cars {
        padding: 10px 10px;
        width: 75%;
        height: 100%;
        border: 3px solid yellow;
    }
}

.none {
    display: none;
}

.open {
    display: block;
}