.stage-container .stage-wrapper {
  padding-bottom: 50px;
}

.stage-container .stage-wrapper .stage-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.stage-container .stage-wrapper .stage-texts div {
  font-size: 1.2em;
  font-weight: 700;
  color: #222831;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
}

.stage-container .stage-wrapper .stage-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: cornflowerblue;
  height: 5px;
}

.stage-container .stage-wrapper .first-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
  width: 30px;
  height: 30px;
  background-color: cornflowerblue;
  color: white;
  border-radius: 50%;
}

.stage-container .stage-wrapper .second-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
  width: 30px;
  height: 30px;
  background-color: cornflowerblue;
  color: white;
  border-radius: 50%;
}

.stage-container .stage-wrapper .third-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
  width: 30px;
  height: 30px;
  background-color: #e09845;
  color: white;
  border-radius: 50%;
}

.selected-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.selected-options .selected-province {
  color: white;
  background-color: cornflowerblue;
  padding: 10px 20px;
  border-radius: 10px;
  border: 3px solid #457ee9;
  margin-right: 20px;
}

.selected-options .selected-province span {
  font-weight: 600;
  font-size: 1.1em;
}

.selected-options .selected-province i {
  color: rgba(0, 0, 0, 0.5);
}

.selected-options .selected-district {
  color: white;
  background-color: cornflowerblue;
  padding: 10px 20px;
  border: 3px solid #457ee9;
  border-radius: 10px;
  margin-right: 20px;
}

.selected-options .selected-district span {
  font-weight: 600;
  font-size: 1.1em;
}

.selected-options .selected-district i {
  color: rgba(0, 0, 0, 0.5);
}

.selected-options .select-again {
  color: white;
  background-color: orange;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid orange;
  line-height: 30px;
}

.selected-options .select-again span {
  font-weight: 800;
}

.selected-options .select-again i {
  color: rgba(0, 0, 0, 0.5);
}

.filter {
  width: 100%;
  height: auto;
  padding: 10px 10px;
  border: 3px solid orange;
}

.filter .selected-filter {
  border-radius: 10px;
  width: 100px;
  height: 50px;
  border: 1px solid #FA737B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
}

.filter .selected-filter i {
  font-size: 1.3em;
  color: red;
  margin-left: 10px;
}

.main-car-list-section {
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-car-list-section .filter-section {
  padding: 10px 10px;
  width: 25%;
  border-radius: 10px;
}

.main-car-list-section .filter-section .filter-main-title {
  text-align: center;
  color: white;
  background-color: cornflowerblue;
  border-radius: 10px;
  border: 5px solid #457ee9;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.main-car-list-section .filter-section .filter-main-title i {
  opacity: 0.8;
}

.main-car-list-section .filter-section .filter-boxes-container {
  width: 100%;
}

.main-car-list-section .filter-section .filter-boxes-container .filter-box-block {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: black;
}

.main-car-list-section .filter-section .filter-boxes-container .filter-box-block .filter-box-title {
  padding: 5px 10px;
  font-size: 1.2em;
  font-weight: 600;
}

.main-car-list-section .filter-section .filter-boxes-container .filter-box-block .filter-box-selections .mini-box {
  cursor: pointer;
  margin: 8px;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid #FA737B;
  width: 100px;
  height: 50px;
  color: #646464;
}

.main-car-list-section .filter-section .filter-boxes-container .filter-box-block .filter-box-selections .mini-box span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
}

.main-car-list-section .filter-section .filter-boxes-container .filter-box-block .filter-box-selections .mini-box:hover {
  color: white;
  background-color: #FA737B;
}

.main-car-list-section .all-cars {
  padding: 10px 10px;
  width: 75%;
  height: 100%;
  border: 3px solid yellow;
}
/*# sourceMappingURL=car-list.css.map */