.login-page-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
}

.login-page-elements label {
  display: block;
}

.login-page-elements input {
  display: block;
}

.login-page-elements .alert-info-area {
  width: 400px;
  height: auto;
  padding: 20px 15px 20px 15px;
}

.login-page-elements .alert-info-area .info-alert {
  width: 100%;
  height: auto;
  border: 5px solid rgba(243, 104, 24, 0.692);
  background-color: rgba(255, 138, 70, 0.178);
  border-radius: 20px;
  padding: 10px 10px 10px 25px;
  font-size: 1.1em;
  font-weight: 500;
  color: #ff5e00;
}

.login-page-elements .lp-container {
  border-radius: 10px;
  -webkit-box-shadow: #32325d40 0px 0px 5px 1px;
          box-shadow: #32325d40 0px 0px 5px 1px;
  width: 500px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 5px 30px 5px;
}

.login-page-elements .lp-container #mail-label {
  font-size: 1.3em;
  font-weight: 500;
}

.login-page-elements .lp-container #mail-label input {
  margin-top: 10px;
  border-radius: 5px;
  border-style: none;
  -webkit-box-shadow: #32325d40 0px 0px 5px 1px;
          box-shadow: #32325d40 0px 0px 5px 1px;
  width: 300px;
  margin-bottom: 30px;
  height: 30px;
  font-size: 1em;
}

.login-page-elements .lp-container #pass-label {
  font-size: 1.3em;
  font-weight: 500;
}

.login-page-elements .lp-container #pass-label input {
  margin-top: 10px;
  border-radius: 5px;
  border-style: none;
  -webkit-box-shadow: #32325d40 0px 0px 5px 1px;
          box-shadow: #32325d40 0px 0px 5px 1px;
  width: 300px;
  margin-bottom: 30px;
  height: 30px;
  font-size: 1em;
}

.login-page-elements .lp-container .lp-btn {
  background: #3861fb;
  padding: 8px 13px 8px 13px;
  border-radius: 10px;
  border-style: none;
  color: white;
  font-size: 1.1em;
}

.login-page-elements .toggle {
  margin-bottom: 30px;
}

.login-page-elements .toggle .toggle-control {
  -webkit-transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  width: 4em;
  height: 2em;
  display: block;
  border: 2px solid #8E8E93;
  border-radius: 2em;
  background-color: rgba(0, 0, 0, 0.06);
  position: relative;
}

.login-page-elements .toggle .toggle-control:after {
  -webkit-transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  content: "";
  width: 2em;
  height: 2em;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 3px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 3px 2px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}

.login-page-elements .toggle .toggle-input {
  display: none;
}

.login-page-elements .toggle .toggle-input:checked + .toggle-control {
  border-color: #4cd964;
  background-color: #4cd964;
}

.login-page-elements .toggle .toggle-input:checked + .toggle-control:after {
  left: 2em;
}
/*# sourceMappingURL=login.css.map */