.register-page-elements {
    display: flex;
    justify-content: center;
    height: auto;

    label {
        display: block;
    }

    input {
        display: block;
    }

    .rp-container {
        padding: 40px 0;
        border-radius: 10px;
        box-shadow: #32325d40 0px 0px 5px 1px;
        width: 500px;
        height: auto;
        display: flex;
        justify-content: center;

        .label-block {
            font-size: 1.3em;
            font-weight: 500;

            input {
                margin-top: 10px;
                border-radius: 5px;
                border-style: none;
                box-shadow: #32325d40 0px 0px 5px 1px;
                width: 300px;
                margin-bottom: 30px;
                height: 30px;
                font-size: 1em;
                padding: 5px 10px 5px 10px;
            }
        }

        .address-label {
            textarea {
                display: block;
                width: auto;
                height: 100px;
                overflow-y: scroll;
                resize: none;

                margin-top: 10px;
                border-radius: 5px;
                border-style: none;
                box-shadow: #32325d40 0px 0px 5px 1px;
                width: 300px;
                font: inherit;
                font-weight: 400;
            }
        }

        .rp-btn {
            margin-top: 20px;
            background: rgb(56, 97, 251);
            padding: 8px 13px 8px 13px;
            border-radius: 10px;
            border-style: none;
            color: white;
            font-size: 1.2em;
        }
    }

    .alert-info-area {
        width: 400px;
        height: auto;
        padding: 20px 15px 20px 15px;

        .info-alert {
            width: 100%;
            height: auto;
            border: 5px solid rgba(243, 104, 24, 0.692);
            background-color: rgba(255, 138, 70, 0.178);
            border-radius: 20px;
            padding: 10px 10px 10px 25px;
            font-size: 1.1em;
            font-weight: 500;
            color: rgb(255, 94, 0);
        }
    }
}