<footer>
    <div class="ft-part-logo">
        <div class="ft-logo">
            iCAR
        </div>
    </div>

    <div>
        <ul>
            <li class="ul-header-in-ft">Sosyal medya</li>
            <li>Instagram</li>
            <li>Facebook</li>
            <li>Twitter</li>
        </ul>
    </div>

    <div>
        <ul>
            <li class="ul-header-in-ft">Kiralayan</li>
            <li>İlgili Kişi Başvuru Formu</li>
            <li>Kiralama Şartları</li>
            <li>Genel Kiralama Koşulları</li>
        </ul>
    </div>

    <div>
        <ul>
            <li class="ul-header-in-ft">Genel</li>
            <li>Hakkımızda</li>
            <li>Çerez Politikası</li>
            <li>İş fırsatları</li>
        </ul>
    </div>

    <div>
        <ul>
            <li class="ul-header-in-ft">İletişim</li>
            <li>0 (532) 444 44 44</li>
            <li>bilgi@iCar.com</li>
        </ul>
    </div>
</footer>
