<header>
    <a href="/" class="logo">
        iCAR
    </a>
    <div class="account-container">
        <a href="/giris" class="login">Giriş yap</a>
        <a href="/kayit" class="sign-up">Üye ol</a>
</header>