<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--SCSS COMPILER-->
    <link rel="stylesheet" href="/public/scss/index.css">
    <!--SCSS COMPILER-->
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <!--Google Fonts-->
    <title>iCAR - Araba Kiralama Hizmeti</title>
</head>

<body>
    <header>
        <div class="logo">
            iCAR
        </div>
        <div class="account-container">
            <div class="login">Giriş yap</div>
            <div class="sign-up">Üye ol</div>
    </header>

    <%- body %> 

    <footer>
        <div class="ft-part-logo">
            <div class="ft-logo">
                iCAR
            </div>
        </div>
    
        <div>
            <ul>
                <li class="ul-header-in-ft">Sosyal medya</li>
                <li>Instagram</li>
                <li>Facebook</li>
                <li>Twitter</li>
            </ul>
        </div>
    
        <div>
            <ul>
                <li class="ul-header-in-ft">Kiralayan</li>
                <li>İlgili Kişi Başvuru Formu</li>
                <li>Kiralama Şartları</li>
                <li>Genel Kiralama Koşulları</li>
            </ul>
        </div>
    
        <div>
            <ul>
                <li class="ul-header-in-ft">Genel</li>
                <li>Hakkımızda</li>
                <li>Çerez Politikası</li>
                <li>İş fırsatları</li>
            </ul>
        </div>
    
        <div>
            <ul>
                <li class="ul-header-in-ft">İletişim</li>
                <li>0 (532) 444 44 44</li>
                <li>bilgi@iCar.com</li>
            </ul>
        </div>
    </footer>
    

    <script type="module" src="public/js/search-box.js"></script>
</body>

</html>