<div class="title-info">
    <h1>Araç ekle:</h1>
</div>

<div class="alert-info-area">
    <% if(typeof alert != 'undefined') { %>
    <% alert.forEach(function(error) { %>
    <div style="margin-bottom: 20px;" class="info-alert">
        <%= error.msg %>
    </div>
    <% }) %>
    <% } %>
</div>

<form action="" method="POST"  enctype="multipart/form-data">

    <div class="photo-info info">
        <h3>Araç Fotoğrafı :</h3>
        <div class="edit-container">
            <div class="file-container">
                <input class="upload-file" type="file" name="image" id="image">
            </div>
        </div>
    </div>

    <div class="carName-info info">
        <h3>Araç Adı:</h3>
        <div class="edit-container">

            <input min="3" type="text" name="carName" id="carName">
        </div>
    </div>

    <div class="carModel-info info">
        <h3>Araç Modeli:</h3>
        <div class="edit-container">

            <input min="1" type="text" name="carModel" id="carModel">
        </div>
    </div>


    <div class="carBodyType-info info">
        <h3>Gövde Tipi:</h3>
        <div class="edit-container">
            <select name="carBodyType" id="carBodyType" required>
                <option value="Seç" selected disabled>Seç</option>
                <option value="Sedan">Sedan</option>
                <option value="Hatchback">Hatchback</option>
                <option value="Cabriolet">Cabriolet</option>
                <option value="Mini Van">Mini Van</option>
                <option value="Panel Van">Panel Van</option>
                <option value="Pick Up">Pick Up</option>
                <option value="Station Wagon">Coupe</option>
                <option value="SUV">SUV</option>
            </select>
        </div>
    </div>

    <div class="carEngineCapacity-info info">
        <h3>Motor Hacmi:</h3>
        <div class="edit-container">

            <input type="number" min="0" name="carEngineCapacity" id="carEngineCapacity">
        </div>
    </div>

    <div class="fuelConsumption-info info">
        <h3>Yakıt Tüketimi:</h3>
        <div class="edit-container">

            <input type="number" min="0" name="fuelConsumption" id="fuelConsumption">
        </div>
    </div>

    <div class="abs-info info">
        <h3>ABS:</h3>
        <div class="edit-container">

            <select name="abs" id="abs" required>
                <option value="Seç" selected disabled>Seç</option>
                <option value="Var">Var</option>
                <option value="Yok">Yok</option>
            </select>
        </div>
    </div>

    <div class="airBag-info info">
        <h3>Airbag:</h3>
        <div class="edit-container">

            <select name="airBag" id="airBag" required>
                <option value="Seç" selected disabled>Seç</option>
                <option value="Var">Var</option>
                <option value="Yok">Yok</option>
            </select>
        </div>
    </div>

    <div class="carbonEmission-info info">
        <h3>Karbon emisyonu:</h3>
        <div class="edit-container">

            <input type="number" min="0" max="150" name="carbonEmission" id="carbonEmission" required>
        </div>
    </div>

    <div class="seats-info info">
        <h3>Koltuk sayısı:</h3>
        <div class="edit-container">

            <input type="number" min="0" max="10" name="seats" id="seats" required>
        </div>
    </div>

    <div class="carTrunk-info info">
        <h3>Bagaj Hacmi:</h3>
        <div class="edit-container">

            <input type="number" min="0" max="1000" name="carTrunk" id="carTrunk" required>
        </div>
    </div>

    <div class="doors-info info">
        <h3>Kapı sayısı:</h3>
        <div class="edit-container">

            <input type="number" min="2" max="4" name="doors" id="doors" required>
        </div>
    </div>

    <div class="gear-info info">
        <h3>Vites:</h3>
        <div class="edit-container">

            <select name="gear" id="gear" required>
                <option value="Seç" selected disabled>Seç</option>
                <option value="Manuel">Manuel</option>
                <option value="Otomatik">Otomatik</option>
            </select>
        </div>
    </div>

    <div class="fuelType-info info">
        <h3>Yakıt tipi:</h3>
        <div class="edit-container">

            <select name="fuelType" id="fuelType" required>
                <option value="Seç" selected disabled>Seç</option>
                <option value="Benzin">Benzin</option>
                <option value="Dizel">Dizel</option>
                <option value="LPG">LPG</option>
                <option value="Elektrik">Elektrik</option>
                <option value="Hibrit">Hibrit</option>
            </select>
        </div>
    </div>

    <div class="cruiseControl-info info">
        <h3>Hız Sabitleyici:</h3>
        <div class="edit-container">

            <select name="cruiseControl" id="cruiseControl" required>
                <option value="Seç" selected disabled>Seç</option>
                <option value="Var">Var</option>
                <option value="Yok">Yok</option>
            </select>
        </div>
    </div>

    <div class="yearOfProduction-info info">
        <h3>Üretim Yılı:</h3>
        <div class="edit-container">

            <input type="number" min="2000" max="2022" name="yearOfProduction" id="yearOfProduction" required>
        </div>
    </div>

    <div class="deposit-info info">
        <h3>Deposit Miktarı:</h3>
        <div class="edit-container">

            <input type="number" min="0" max="2000" name="deposit" id="deposit" required>
        </div>
    </div>

    <div class="hourlyRate-info info">
        <h3>Saatlik Ücret:</h3>
        <div class="edit-container">

            <input type="number" min="0" max="5000" name="hourlyRate" id="hourlyRate" required>
        </div>
    </div>

    <div class="carAddress-info info">
        <h3>Listeneceği Adres:</h3>
        <div class="edit-container">
            <label for="carProvince">İl seç:</label>
            <select name="carProvince" id="carProvince" required>
                <option value="test" disabled>İl seç</option>
            </select>

            <label for="carDistrict">İlçe seç:</label>
            <select name="carDistrict" id="carDistrict" required>
                <option value="test" disabled>İlçe seç</option>
            </select>
        </div>
    </div>

    <button type="submit"><i class="far fa-edit"></i>Araç ekle</button>
</form>

<script type="module" src="../public/js/add-province.js"></script>