<div class="title-info">
    <h1>Araç ekle:</h1>
</div>

<div class="alert-info-area">
    <% if(typeof alert != 'undefined') { %>
    <% alert.forEach(function(error) { %>
    <div style="margin-bottom: 20px;" class="info-alert">
        <%= error.msg %>
    </div>
    <% }) %>
    <% } %>
</div>
<form action="" method="post">

    <div class="carName-info info">
        <h3>Araç Adı:</h3>
        <div class="edit-container">

            <input type="text" name="carName" id="carName" value="test">
        </div>
    </div>

    <div class="carModel-info info">
        <h3>Araç Modeli:</h3>
        <div class="edit-container">

            <input type="text" name="carModel" id="carModel" value="test">
        </div>
    </div>


    <div class="carBodyType-info info">
        <h3>Gövde Tipi:</h3>
        <div class="edit-container">

            <input type="text" name="carBodyType" id="carBodyType" value="test">
        </div>
    </div>

    <div class="carEngineCapacity-info info">
        <h3>Motor Hacmi:</h3>
        <div class="edit-container">

            <input type="text" name="carEngineCapacity" id="carEngineCapacity" value="test">
        </div>
    </div>

    <div class="fuelConsumption-info info">
        <h3>Yakıt Tipi:</h3>
        <div class="edit-container">

            <input type="text" name="fuelConsumption" id="fuelConsumption" value="test">
        </div>
    </div>

    <div class="abs-info info">
        <h3>ABS:</h3>
        <div class="edit-container">

            <input type="text" name="abs" id="abs" value="test">
        </div>
    </div>

    <div class="airBag-info info">
        <h3>Airbag:</h3>
        <div class="edit-container">

            <input type="text" name="airBag" id="airBag" value="test">
        </div>
    </div>

    <div class="carbonEmission-info info">
        <h3>Karbon emisyonu:</h3>
        <div class="edit-container">

            <input type="text" name="carbonEmission" id="carbonEmission" value="test">
        </div>
    </div>

    <div class="seats-info info">
        <h3>Koltuk sayısı:</h3>
        <div class="edit-container">

            <input type="text" name="seats" id="seats" value="test">
        </div>
    </div>

    <div class="carTrunk-info info">
        <h3>Bagaj Hacmi:</h3>
        <div class="edit-container">

            <input type="text" name="carTrunk" id="carTrunk" value="test">
        </div>
    </div>

    <div class="doors-info info">
        <h3>Kapı sayısı:</h3>
        <div class="edit-container">

            <input type="text" name="doors" id="doors" value="test">
        </div>
    </div>

    <div class="gear-info info">
        <h3>Vites:</h3>
        <div class="edit-container">

            <input type="text" name="gear" id="gear" value="test">
        </div>
    </div>

    <div class="fuelType-info info">
        <h3>Yakıt tipi:</h3>
        <div class="edit-container">

            <input type="text" name="fuelType" id="fuelType" value="test">
        </div>
    </div>

    <div class="cruiseControl-info info">
        <h3>Hız Sabitleyici:</h3>
        <div class="edit-container">

            <input type="text" name="cruiseControl" id="cruiseControl" value="test">
        </div>
    </div>

    <button type="submit"><i class="far fa-edit"></i>Araç ekle</button>
</form>