<div class="stage-container">
    <div class="stage-wrapper">
        <div class="stage-texts">
            <div class="first-stage-text">
                Yer Ve Zaman Seçimi
            </div>

            <div class="second-stage-text">
                Araç Seçimi
            </div>

            <div class="third-stage-text">
                Ödeme Aşaması
            </div>
        </div>
        <div class="stage-line">
            <div class="first-stage">
                <i class="far fa-check-circle"></i>
            </div>

            <div class="second-stage">
                <i class="fas fa-dot-circle"></i>
            </div>

            <div class="third-stage">
                <i class="fas fa-circle-notch fa-spin"></i>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="selected-options">
        <div class="selected-province">
            <span>Seçilen İl</span>
            <i class="fas fa-arrow-right"></i>
            <%= selectedProvinceAndDistrict.province %>
        </div>

        <div class="selected-district">
            <span>Seçilen İlçe</span>
                        <i class="fas fa-arrow-right"></i>
            <%= selectedProvinceAndDistrict.district %>
        </div>
        <a href="/" class="select-again">
            <span>Tekrar Seç</span>
            <i class="fas fa-exchange-alt"></i>
        </a>
    </div>
</section>

<section>
    <div class="all-cars">

    </div>
</section>