<div class="home-image-container">
    <img src="public/images/map-location-pin.jpg" alt="">
    <h2>Size en yakın noktayı seçin,<br>
        kiralamaya başlayın!</h2>
</div>
<div class="search-boxs-container">
    <div class="nereden-search-box">
        <div class="paper-plane-icon">
            <img src="public/icons/paper-plane.png" alt="">
        </div>
        <form action="" method="POST">

            <div class="select-section">
                <div class="province-section">

                </div>
                <div class="district-section">

                </div>

                <!-- javascript
            <label for="provinces">İl seçin</label>
            <select name="" id="provinces">
                <option value="izmir">izmir</option>
            </select>

            <label for="districts">İlçe seçin</label>
            <select name="" id="districts">
                <option value="menemen">menemen</option>
            </select>
        -->

            </div>
            <p class="delete-after">Nereden almak istiyorsun?</p>
    </div>

    <button type="submit" class="search-btn">
        <img src="public/icons/search-icon.png" alt="">
    </button>

    </form>

</div>

<section class="brand-section">
    <div class="part">
        <div class="text-container">
            <p class="brand-title">Son model araçlar</p>
            <p class="brand-text">Trafik ve sizin için en güvenli sürüş deneyimi için,
                sadece son model ve belirli kriterlere sahip araçlarımızı dahil ettik.</p>
        </div>

        <div class="brand-img">
            <img src="public/images/arac.png" alt="">
        </div>
    </div>

    <div class="part-2">
        <div class="brand-img">
            <img src="public/images/saglik.jpg" alt="">
        </div>

        <div class="text-container">
            <p class="brand-title">Sağlığınız için</p>
            <p class="brand-text">Toplum ve sizin sağlığınız için tüm önlemleri alıyoruz. Araçlarımızı dezenfekte
                edip size öyle teslim ediyoruz.</p>
        </div>
    </div>

    <div class="part">
        <div class="text-container">
            <p class="brand-title">81 il, tam hizmet</p>
            <p class="brand-text">Türkiye'nin 81 ilinden kullanıcılarımız ile birlikte, istediğiniz il ve ilçeden
                araç kiralayabilirsiniz.</p>
        </div>

        <div class="brand-img">
            <img src="public/images/turkey-map.png" alt="">
        </div>
    </div>

    <div class="part-2">
        <div class="brand-img">
            <img src="public/images/discount.jpg" alt="">
        </div>

        <div class="text-container">
            <p class="brand-title">%5 indirim</p>
            <p class="brand-text">Yeni üye olan müşterilerimize anında %5 indirim tanımlanır. Yalnızca ilk kiralama
                hizmeti için geçerlidir.</p>
        </div>
    </div>
</section>