<div class="home-image-container">
    <img src="public/images/map-location-pin.jpg" alt="">
    <h2>Size en yakın noktayı seçin,<br>
        kiralamaya başlayın!</h2>
</div>
<div class="search-boxs-container">

    <div class="nereden-search-box">
        <div class="paper-plane-icon">
            <img src="public/icons/paper-plane.png" alt="">
        </div>

        <form action="" method="POST">
            <div class="select-section">
                <div class="province-section">
                    <label for="provinces">İl Seçin</label>
                    <select name="provinces" id="provinces">
                        <option value="İl seç" disabled selected>İl Seç</option>
                    </select>

                    <div class="dropdown-content">İl seçimi yapmanız gerekiyor</div>
                </div>
                <div class="district-section">
                    <label for="districts">İlçe Seçin</label>
                    <select name="districts" id="districts" disabled>
                        <option value="İlçe seç" disabled selected>İlçe Seç</option>
                    </select>

                    <div class="dropdown-content">İl seçimi yapmanız gerekiyor</div>
                </div>

                <div class="datePicker-section">
                    <label for="datetimes">Tarih Seç</label>
                    <input type="text" class="datetimes" name="datetimes" disabled>

                    <div class="dropdown-content">İlçe seçimi yapmanız gerekiyor</div>
                </div>
            </div>
    </div>

    <button type="submit" class="search-btn" disabled>
        <img src="public/icons/search-icon.png" alt="">
        <div class="dropdown-content">Tüm seçimleri yaptığınızda buton aktif olur</div>
    </button>

    </form>

</div>

<section class="brand-section">
    <div class="part">
        <div class="text-container">
            <p class="brand-title">Son model araçlar</p>
            <p class="brand-text">Trafik ve sizin için en güvenli sürüş deneyimi için,
                sadece son model ve belirli kriterlere sahip araçlarımızı dahil ettik.</p>
        </div>

        <div class="brand-img">
            <img src="public/images/arac.png" alt="">
        </div>
    </div>

    <div class="part-2">
        <div class="brand-img">
            <img src="public/images/saglik.jpg" alt="">
        </div>

        <div class="text-container">
            <p class="brand-title">Sağlığınız için</p>
            <p class="brand-text">Toplum ve sizin sağlığınız için tüm önlemleri alıyoruz. Araçlarımızı dezenfekte
                edip size öyle teslim ediyoruz.</p>
        </div>
    </div>

    <div class="part">
        <div class="text-container">
            <p class="brand-title">81 il, tam hizmet</p>
            <p class="brand-text">Türkiye'nin 81 ilinden kullanıcılarımız ile birlikte, istediğiniz il ve ilçeden
                araç kiralayabilirsiniz.</p>
        </div>

        <div class="brand-img">
            <img src="public/images/turkey-map.png" alt="">
        </div>
    </div>

    <div class="part-2">
        <div class="brand-img">
            <img src="public/images/discount.jpg" alt="">
        </div>

        <div class="text-container">
            <p class="brand-title">%5 indirim</p>
            <p class="brand-text">Yeni üye olan müşterilerimize anında %5 indirim tanımlanır. Yalnızca ilk kiralama
                hizmeti için geçerlidir.</p>
        </div>
    </div>
</section>

<script type="module" src="../public/js/searchbox.js"></script>

<script>
    $(function () {
        $('input[name="datetimes"]').daterangepicker({
            timePicker: true,
            "timePicker24Hour": true,
            startDate: moment().startOf('hour'),
            endDate: moment().startOf('hour').add(32, 'hour'),
            locale: {
                format: 'ssss',
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Kaydet",
                "cancelLabel": "İptal",
                "weekLabel": "W",
                "daysOfWeek": [
                    "PAZ",
                    "PZT",
                    "SAL",
                    "ÇAR",
                    "PER",
                    "CUM",
                    "CMT"
                ],
                "monthNames": [
                    "Ocak",
                    "Şubat",
                    "Mart",
                    "Nisan",
                    "Mayıs",
                    "Haziran",
                    "Temmuz",
                    "Ağustos",
                    "Eylül",
                    "Ekim",
                    "Kasım",
                    "Aralık"
                ],
            }
        });
    });
</script>