<div class="login-page-elements">
    <div class="lp-header">
        <h1>Giriş Yap </h1>
        <div class="lp-container">

            <form action="" method="POST">
                <label id="mail-label" for="mail">Mail:
                    <input type="text" name="mail" id="mail">
                </label>

                <label id="pass-label" for="password">Şifre:
                    <input type="password" name="password" id="password">
                </label>

                <button class="lp-btn" type="submit">Giriş</button>
            </form>

        </div>
    </div>
</div>