<div class="register-page-elements">
    <div class="rp-header">
        <h1>Kayıt ol</h1>
        <div class="rp-container">

            <form action="" method="POST">

                <label id="username" for="username" class="username label-block">Ad:
                    <input type="text" name="username" id="username" required>
                </label>

                <label id="surname" for="surname" class="surname label-block">Soyad:
                    <input type="text" name="surname" id="surname" required>
                </label>

                <label id="mail-label" for="mail" class="mail-label label-block">Mail:
                    <input type="text" name="mail" id="mail" required>
                </label>

                <label id="pass-label" for="password" class="pass-label label-block">Şifre:
                    <input type="password" name="password" id="password" required>
                </label>

                <label id="age-label" for="age" class="age-label label-block">Yaş:
                    <input type="number" name="age" min="18" max="100" id="age" required>
                </label>

                <label id="phone-label" for="phone" class="phone-label label-block">Telefon:
                    <input type="tel" name="phone" id="phone" max="10" required placeholder="542 555 55 55" pattern="[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}">
                </label>

                <label id="address-label" for="address" class="address-label label-block">Adres:
                    <textarea id="address" name="address" minlength="15" maxlength="200" required></textarea>
                </label>

                <button class="rp-btn" type="submit">Kayıt</button>
            </form>
        </div>
    </div>
</div>