<div class="register-page-elements">
    <div class="rp-header">
        <h1>Kayıt ol</h1>
        <div class="rp-container">

            <form action="" method="POST">

                <label id="username" for="username">Ad:
                    <input type="text" name="username" id="username">
                </label>

                <label id="surname" for="surname">Soyad:
                    <input type="text" name="surname" id="surname">
                </label>

                <label id="mail-label" for="mail">Mail:
                    <input type="text" name="mail" id="mail">
                </label>

                <label id="pass-label" for="password">Şifre:
                    <input type="password" name="password" id="password">
                </label>

                <button class="rp-btn" type="submit">Kayıt</button>
            </form>
        </div>
    </div>
</div>